################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/24499fd3-81cf-498e-8bc3-4f9beff0dcab.vsidx
/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/71742f38-4eca-477f-a1f2-8678e3d16257.vsidx
/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/519330fb-f55b-4b17-8693-5f5541534054.vsidx
/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/9b69f0ed-a829-48df-a379-2c035f822929.vsidx
/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/b8f10c97-c9f8-4411-834b-209ab688515b.vsidx
/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/c27e0222-fc0a-43d6-b9bf-a5737ec4e94f.vsidx
/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/f81fc311-eb2b-49d5-a449-436007b83406.vsidx
