################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/6297b467-d816-412f-8d41-dddd29beaa9c.vsidx
