################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/24499fd3-81cf-498e-8bc3-4f9beff0dcab.vsidx
/HeThongWebsiteNhaHang_Full/.vs/HeThongWebsiteNhaHang_Full/FileContentIndex/71742f38-4eca-477f-a1f2-8678e3d16257.vsidx
